body:not(#tinymce) {
  padding-left: 30px;
  padding-right: 30px;
}
body:not(#tinymce) body {
  --wp--preset--color--pale-gold: palegoldenrod;
}
body:not(#tinymce) h1,
body:not(#tinymce) h2,
body:not(#tinymce) h3,
body:not(#tinymce) h4,
body:not(#tinymce) h5,
body:not(#tinymce) h6 {
  font-family: var(--wp--preset--font-family--montserrat);
  line-height: 1.4;
  letter-spacing: normal;
}
body:not(#tinymce) .page-title {
  padding: 10px 0;
  border-top: 1px solid var(--wp--preset--color--light-green);
  border-bottom: 1px solid var(--wp--preset--color--light-green);
}
body:not(#tinymce) h3 {
  font-size: var(--wp--preset--font--size--medium);
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--wp--preset--color--dark-green);
}
body:not(#tinymce) p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
body:not(#tinymce) .display-block {
  display: block;
}
body:not(#tinymce) ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) {
  padding-left: 0;
}
body:not(#tinymce) ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) li {
  position: relative;
  padding-left: 20px;
}
body:not(#tinymce) ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) li::marker {
  display: none;
  font-size: 0;
}
body:not(#tinymce) ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) li ul {
  padding-left: 20px;
}
body:not(#tinymce) ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) li::before {
  font: var(--fa-font-solid);
  content: "\f0da";
  color: var(--wp--preset--color--dark-green);
  display: inline-block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  top: 5px;
  font-size: var(--wp--preset--font-size--medium);
}
body:not(#tinymce) .underlined-heading {
  color: var(--wp--preset--color--black);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--wp--preset--color--gray);
  display: block;
}
body:not(#tinymce) .font-size-22 {
  font-size: 22px;
}
body:not(#tinymce) .font-weight-normal {
  font-weight: normal;
}

.featured-img.-r0 {
  display: none;
}