body .is-layout-constrained .quote-container {
  padding: var(--wp--preset--spacing--30);
  background-color: var(--wp--preset--color--dark-green);
  -webkit-margin-before: var(--wp--preset--spacing--30);
          margin-block-start: var(--wp--preset--spacing--30);
  color: var(--wp--preset--color--base);
  border-left: 10px solid var(--wp--preset--color--light-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body .is-layout-constrained .quote-container h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
body .is-layout-constrained .quote-container h3 {
  color: var(--wp--preset--color--pale-gold);
}
body .is-layout-constrained .quote-container blockquote {
  font-style: italic;
  position: relative;
  -webkit-padding-start: var(--wp--preset--spacing--40);
          padding-inline-start: var(--wp--preset--spacing--40);
  margin-left: var(--wp--preset--spacing--30);
}
body .is-layout-constrained .quote-container blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-family: fontAwesome;
  content: "\f10d";
  width: 30px;
  height: 30px;
  line-height: 1;
  font-style: normal;
}
body .is-layout-constrained .quote-container blockquote .author {
  display: block;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  font-style: normal;
  color: var(--wp--preset--color--pale-gold);
}
body .is-layout-constrained .quote-container blockquote .font-style--normal {
  font-style: normal;
}