@media (min-width: 981px) {
  .acf-fields > .data-content-column__offset {
    width: 60%;
    -webkit-margin-start: 40%;
            margin-inline-start: 40%;
  }
}
.acf-fields > .data-content-column__border-left {
  border: 1px solid #eaecf0;
}