.features, .swiper img, .swiper, .boxed, .wp-block-post-featured-image img,
.wp-block-cover.cover--link img, .wp-block-post-featured-image,
.wp-block-cover.cover--link, .wp-block-post-template .wp-block-post {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.audio-trigger {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

body:not(.home) header.scroll-down, body:not(.home) header, .wp-block-cover.cover--link:hover img, .wp-block-cover.cover--link:hover, .wp-block-cover.cover--link img, .wp-block-cover.cover--link, .language-toggle .btn a:hover,
.language-toggle li a:hover,
.wpml-language-switcher-block ul.horizontal-list li a:hover, .language-toggle .btn a,
.language-toggle li a,
.wpml-language-switcher-block ul.horizontal-list .btn a,
.wpml-language-switcher-block ul.horizontal-list li a, .wp-block-post-template .wp-block-post .wp-block-post-featured-image a img, .wp-block-post-template .wp-block-post:hover img, .wp-block-post-template .wp-block-post:hover, .wp-block-post-template .wp-block-post {
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body {
  --wp--preset--color--pale-gold: palegoldenrod;
}

.wp-block-post-template {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25em;
  flex-wrap: wrap;
}
.wp-block-post-template.wp-block-other-term-posts::-webkit-scrollbar {
  display: none;
}
.wp-block-post-template.wp-block-other-term-posts > li {
  flex-grow: inherit;
}
.wp-block-post-template.is-flex-container.columns-3 > li {
  width: calc(33.33333% - 0.83333em);
}
.wp-block-post-template.is-flex-container.columns-2 > li {
  width: calc(50% - 0.83333em);
}
@media (max-width: 980px) {
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li, .wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
    width: calc(50% - 0.83333em);
  }
}
@media (max-width: 600px) {
  .wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li, .wp-block-post-template.is-flex-container.is-flex-container.columns-2 > li {
    width: 100%;
  }
}
.wp-block-post-template .wp-block-post {
  position: relative;
}
.wp-block-post-template .wp-block-post:hover {
  box-shadow: 0 10px 30px var(--wp--preset--color--gray);
}
.wp-block-post-template .wp-block-post:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.wp-block-post-template .wp-block-post .wp-block-post-featured-image {
  overflow: hidden;
  margin-bottom: 0;
}
.wp-block-post-template .wp-block-post .wp-block-post-featured-image:focus, .wp-block-post-template .wp-block-post .wp-block-post-featured-image:focus-visible, .wp-block-post-template .wp-block-post .wp-block-post-featured-image:focus-within {
  outline: 5px solid orange;
}
.wp-block-post-template .wp-block-post .wp-block-post-featured-image a {
  position: relative;
  display: block;
}
.wp-block-post-template .wp-block-post .wp-block-post-featured-image a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.wp-block-post-template .wp-block-post .wp-block-post-featured-image a img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
.wp-block-post-template h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
  font-size: 20px;
  pointer-events: none;
  line-height: 1;
  text-align: center;
  z-index: 2;
  word-break: inherit;
  width: calc(100% - 2em);
  font-weight: 700;
}

.wp-block-post-template-container .wp-block-post {
  flex-grow: 1;
  flex-grow: inherit;
}

.wp-block-navigation .wp-block-navigation-item:last-of-type {
  margin-right: 0;
}

.wp-block-navigation__responsive-container.is-menu-open {
  padding-top: var(--wp--preset--spacing--40);
}

.nav-icon > button {
  position: relative;
  padding-left: 60px;
  align-items: center;
}
.nav-icon > button::before {
  position: absolute;
  left: 0;
  content: "MENU";
  top: 0;
  font-size: 18px;
  line-height: 25.5px;
}

.splash-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.wp-block-navigation__responsive-close {
  max-width: 100%;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
  align-items: center;
  text-align: center;
  gap: var(--wp--preset--spacing--30);
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--light-green);
  color: #fff;
  font-size: 24px;
}

.home .partnership-logos {
  position: absolute;
  bottom: 2em;
  left: var(--wp--preset--spacing--30);
}

.aurora-college-logo {
  top: 5px;
  position: relative;
}

.language-toggle,
.wpml-language-switcher-block ul.horizontal-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.language-toggle .btn,
.language-toggle li,
.wpml-language-switcher-block ul.horizontal-list .btn,
.wpml-language-switcher-block ul.horizontal-list li {
  margin-right: 0;
  border: 2px solid var(--wp--preset--color--dark-green);
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
}
.language-toggle .btn:first-of-type,
.language-toggle li:first-of-type,
.wpml-language-switcher-block ul.horizontal-list .btn:first-of-type,
.wpml-language-switcher-block ul.horizontal-list li:first-of-type {
  border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  -moz-border-radius: 100px 0 0 100px;
  -ms-border-radius: 100px 0 0 100px;
  -o-border-radius: 100px 0 0 100px;
}
.language-toggle .btn:last-of-type,
.language-toggle li:last-of-type,
.wpml-language-switcher-block ul.horizontal-list .btn:last-of-type,
.wpml-language-switcher-block ul.horizontal-list li:last-of-type {
  border-left: none;
  border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  -moz-border-radius: 0 100px 100px 0;
  -ms-border-radius: 0 100px 100px 0;
  -o-border-radius: 0 100px 100px 0;
}
.language-toggle .btn[data-wpml=current-language-item] span,
.language-toggle li[data-wpml=current-language-item] span,
.wpml-language-switcher-block ul.horizontal-list .btn[data-wpml=current-language-item] span,
.wpml-language-switcher-block ul.horizontal-list li[data-wpml=current-language-item] span {
  padding: 8px 12px;
  display: block;
  background-color: var(--wp--preset--color--dark-green);
  color: #fff;
}
.language-toggle .btn a,
.language-toggle li a,
.wpml-language-switcher-block ul.horizontal-list .btn a,
.wpml-language-switcher-block ul.horizontal-list li a {
  padding: 8px 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}
.language-toggle .btn a:hover,
.language-toggle li a:hover,
.wpml-language-switcher-block ul.horizontal-list .btn a:hover,
.wpml-language-switcher-block ul.horizontal-list li a:hover {
  background-color: var(--wp--preset--color--base);
}

body [data-wpml=language-item]:first-of-type {
  margin-top: 0px !important;
}

body .wpml-language-switcher-block ul.horizontal-list {
  gap: 0px !important;
}
@media (max-width: 980px) {
  body .wpml-language-switcher-block ul.horizontal-list {
    justify-content: flex-start;
  }
}

body .wpml-language-switcher-block ul.hasSpacing.isHorizontal li:not(:last-child) {
  margin-right: 0px !important;
}

.horizontal-list {
  justify-content: flex-end;
}

.wp-block-cover.cover--link {
  padding: 0;
  min-height: auto !important;
}
.wp-block-cover.cover--link img {
  position: relative;
}
.wp-block-cover.cover--link h3 {
  margin: 0;
}
.wp-block-cover.cover--link:focus-within {
  outline: 5px solid orange;
}
.wp-block-cover.cover--link a:where(:not(.wp-element-button)) {
  color: inherit;
  text-decoration: none;
}
.wp-block-cover.cover--link p {
  margin-bottom: 0;
}
.wp-block-cover.cover--link:hover {
  box-shadow: 0 10px 30px var(--wp--preset--color--gray);
}
.wp-block-cover.cover--link:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.wp-block-cover.cover--link .wp-block-cover__inner-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-block-cover.cover--link .wp-block-cover__inner-container * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.full-width {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.wp-block-post-featured-image,
.wp-block-cover.cover--link {
  overflow: hidden;
}
html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
}

.page:not(.home),
.archive {
  background-image: url(../img/backgrounds/welcome-plant-bottom-right.jpg);
  background-position: bottom right;
  background-size: 35%;
  background-repeat: no-repeat;
}

.single {
  background-image: url(../img/backgrounds/single-bottom-right.jpg);
  background-position: bottom right;
  background-size: 20%;
  background-repeat: no-repeat;
}

header {
  position: relative;
  z-index: 999;
}

body:not(.home) header {
  position: absolute;
  z-index: 999;
  width: 100%;
  box-shadow: 0 0 15px var(--wp--preset--color--gray);
}
body:not(.home) header.scroll-down {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
body:not(.home) header.fixed {
  position: fixed;
}

.botanical-names h2 {
  margin-bottom: 0;
}

.yoast-breadcrumbs {
  font-size: 14px;
}

body .is-layout-flex.header-elements-container {
  row-gap: 20px;
}
@media (max-width: 980px) {
  body .is-layout-flex.header-elements-container {
    flex-direction: column;
  }
}

.wp-block-columns:not(.is-not-stacked-on-mobile).logo-and-nav > .wp-block-column {
  width: auto;
}
.wp-block-columns:not(.is-not-stacked-on-mobile).logo-and-nav > .menu-container {
  flex-basis: 90px !important;
}

.wp-block-navigation {
  font-size: inherit;
}

@media (max-width: 980px) {
  .wp-block-columns.logo-and-nav {
    flex-wrap: nowrap !important;
    width: 100%;
    justify-content: space-between;
  }
  .wp-block-columns.logo-and-nav .custom-logo-link {
    display: block;
    text-align: center;
  }
  .wp-block-columns.logo-and-nav .custom-logo-link img {
    width: 100%;
    max-width: 550px;
  }
  .wp-block-columns.logo-and-nav .switcher-and-nav {
    margin-top: var(--wp--preset--spacing--30);
  }
  .wp-block-columns.logo-and-nav > div:last-of-type {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .wp-block-columns.logo-and-nav > div:last-of-type .wp-block-column {
    justify-content: center;
  }
  .wp-block-columns.logo-and-nav > div:last-of-type .wp-block-column > div {
    justify-content: center;
  }
}

.wp-site-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.wp-site-blocks > * + * {
  margin-top: auto;
}

@media (max-width: 980px) and (orientation: portrait) {
  .hide-on-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .wp-container-12.wp-container-12.botanical-names-container {
    justify-content: flex-start;
  }
}
body:not(.home) .partnership-logos {
  padding-bottom: 0 !important;
}

@media (max-width: 781px) {
  body .is-layout-flex .partnership-logos:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: auto !important;
    width: auto;
  }
}
@media (max-width: 480px) {
  body .is-layout-flex .partnership-logos:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100% !important;
    width: 100%;
  }
}
@media (max-width: 480px) {
  body .is-layout-flex .partnership-logos {
    gap: var(--wp--preset--spacing--30);
  }
}

body .is-layout-flex.footer-elements-container {
  row-gap: 20px;
}
@media (max-width: 980px) {
  body .is-layout-flex.footer-elements-container .copyright-text {
    text-align: left;
  }
}

.bottom-margin-1em,
body .is-layout-flow > .bottom-margin-1em {
  -webkit-margin-after: var(--wp--preset--spacing--30);
          margin-block-end: var(--wp--preset--spacing--30);
}

.no-top-margin {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.no-bottom-margin {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.position-relative {
  position: relative;
}

.bottom-margin-40,
body .is-layout-constrained > * + .bottom-margin-40 {
  -webkit-margin-after: var(--wp--preset--spacing--40);
          margin-block-end: var(--wp--preset--spacing--40);
}

.top-margin-40,
body .is-layout-constrained > * + .top-margin-40 {
  -webkit-margin-before: var(--wp--preset--spacing--40);
          margin-block-start: var(--wp--preset--spacing--40);
}

.wp-site-blocks {
  padding: 0;
}

body .is-layout-flex {
  gap: 0;
}

body .is-layout-flow > .wp-block-separator {
  margin-block: var(--wp--preset--spacing--30);
  color: var(--wp--preset--color--light-gray);
}

.no-bullets {
  padding-left: 0;
  list-style: none;
}
.no-bullets li {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}
.no-bullets li:last-of-type {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.boxed {
  padding: 30px;
}
.boxed > h1,
.boxed h2,
.boxed h3,
.boxed h4,
.boxed h5,
.boxed h6 {
  margin: -30px -30px 30px;
  padding: 15px 30px;
  border-bottom: 5px solid var(--wp--preset--color--base);
  line-height: 1;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.bg--light-gray {
  background-color: var(--wp--preset--color--light-gray);
}

.bg--light-green {
  background-color: var(--wp--preset--color--light-green);
}

.color--white {
  color: var(--wp--preset--color--base);
}

.color--dark-green {
  color: var(--wp--preset--color--dark-green);
}

.color--light-green {
  color: var(--wp--preset--color--light-green);
}

.swiper {
  width: 100%;
}
.swiper img {
  max-width: 100%;
  width: 100%;
  display: block;
}
.swiper .swiper-slide {
  width: 100% !important;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #fff;
}
.swiper ~ .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -25px;
}
.swiper ~ .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--wp--preset--color--dark-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--montserrat);
  line-height: 1.4;
  letter-spacing: normal;
}

.page-title {
  padding: 10px 0;
  border-top: 1px solid var(--wp--preset--color--light-green);
  border-bottom: 1px solid var(--wp--preset--color--light-green);
}

h3 {
  font-size: var(--wp--preset--font--size--medium);
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--wp--preset--color--dark-green);
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.display-block {
  display: block;
}

ul:not(.wp-block-post-template,
.is-flex-container,
.horizontal-list,
.features,
.wp-block-navigation__container) {
  padding-left: 0;
}
ul:not(.wp-block-post-template,
.is-flex-container,
.horizontal-list,
.features,
.wp-block-navigation__container) li {
  position: relative;
  padding-left: 20px;
}
ul:not(.wp-block-post-template,
.is-flex-container,
.horizontal-list,
.features,
.wp-block-navigation__container) li::marker {
  display: none;
  font-size: 0;
}
ul:not(.wp-block-post-template,
.is-flex-container,
.horizontal-list,
.features,
.wp-block-navigation__container) li ul {
  padding-left: 20px;
}
ul:not(.wp-block-post-template,
.is-flex-container,
.horizontal-list,
.features,
.wp-block-navigation__container) li::before {
  font: var(--fa-font-solid);
  content: "\f0da";
  color: var(--wp--preset--color--dark-green);
  display: inline-block;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 0;
  top: 5px;
  font-size: var(--wp--preset--font-size--medium);
}

.quote ul li::before {
  color: var(--wp--preset--color--pale-gold);
}

.underlined-heading {
  color: var(--wp--preset--color--black);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--wp--preset--color--gray);
  display: block;
}

.font-size-22 {
  font-size: 22px;
}

.font-weight-normal {
  font-weight: normal;
}

body,
body.fade-out {
  opacity: 0;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade-in {
  opacity: 1;
}

.features {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: var(--wp--preset--spacing--30);
  gap: 2em;
  border: 2px solid var(--wp--preset--color--light-green);
  text-align: center;
}
.features .feature__icon {
  width: 50px;
}
.features p {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.simple-sitemap-container ul {
  margin-left: 0;
}

.audio-trigger {
  margin-left: 10px;
  background: var(--wp--preset--color--dark-green);
  border: none;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.audio-trigger i {
  color: #fff;
  font-size: 16px;
}

html.fslightbox-open {
  height: auto;
}

.plant-reindeer-lichen .plant-content__left-column,
.plant-bracket-fungi .plant-content__left-column,
.plant-ground-cone .plant-content__left-column,
.plant-peat-moss .plant-content__left-column {
  display: none;
}
.plant-reindeer-lichen .plant-content__right-column,
.plant-bracket-fungi .plant-content__right-column,
.plant-ground-cone .plant-content__right-column,
.plant-peat-moss .plant-content__right-column {
  flex-basis: 100% !important;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (max-width: 780px) {
  .plant-reindeer-lichen .plant-content__right-column,
.plant-bracket-fungi .plant-content__right-column,
.plant-ground-cone .plant-content__right-column,
.plant-peat-moss .plant-content__right-column {
    row-gap: 2rem;
  }
}
.plant-reindeer-lichen .plant-content__traditional-names,
.plant-reindeer-lichen .plant-content__carousel,
.plant-reindeer-lichen .plant-content__traditional-uses,
.plant-reindeer-lichen .plant-content__notes,
.plant-bracket-fungi .plant-content__traditional-names,
.plant-bracket-fungi .plant-content__carousel,
.plant-bracket-fungi .plant-content__traditional-uses,
.plant-bracket-fungi .plant-content__notes,
.plant-ground-cone .plant-content__traditional-names,
.plant-ground-cone .plant-content__carousel,
.plant-ground-cone .plant-content__traditional-uses,
.plant-ground-cone .plant-content__notes,
.plant-peat-moss .plant-content__traditional-names,
.plant-peat-moss .plant-content__carousel,
.plant-peat-moss .plant-content__traditional-uses,
.plant-peat-moss .plant-content__notes {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 781px) {
  .plant-reindeer-lichen .plant-content__traditional-names,
.plant-reindeer-lichen .plant-content__carousel,
.plant-reindeer-lichen .plant-content__traditional-uses,
.plant-reindeer-lichen .plant-content__notes,
.plant-bracket-fungi .plant-content__traditional-names,
.plant-bracket-fungi .plant-content__carousel,
.plant-bracket-fungi .plant-content__traditional-uses,
.plant-bracket-fungi .plant-content__notes,
.plant-ground-cone .plant-content__traditional-names,
.plant-ground-cone .plant-content__carousel,
.plant-ground-cone .plant-content__traditional-uses,
.plant-ground-cone .plant-content__notes,
.plant-peat-moss .plant-content__traditional-names,
.plant-peat-moss .plant-content__carousel,
.plant-peat-moss .plant-content__traditional-uses,
.plant-peat-moss .plant-content__notes {
    flex-basis: calc(50% - 1rem);
  }
}
.plant-reindeer-lichen .plant-content__carousel,
.plant-bracket-fungi .plant-content__carousel,
.plant-ground-cone .plant-content__carousel,
.plant-peat-moss .plant-content__carousel {
  margin-block: 0 !important;
}
.plant-reindeer-lichen .plant-content__carousel .swiper-container,
.plant-reindeer-lichen .plant-content__carousel .swiper-autoheight,
.plant-reindeer-lichen .plant-content__carousel .swiper-wrapper,
.plant-reindeer-lichen .plant-content__carousel .swiper-slide,
.plant-reindeer-lichen .plant-content__carousel .swiper img,
.plant-bracket-fungi .plant-content__carousel .swiper-container,
.plant-bracket-fungi .plant-content__carousel .swiper-autoheight,
.plant-bracket-fungi .plant-content__carousel .swiper-wrapper,
.plant-bracket-fungi .plant-content__carousel .swiper-slide,
.plant-bracket-fungi .plant-content__carousel .swiper img,
.plant-ground-cone .plant-content__carousel .swiper-container,
.plant-ground-cone .plant-content__carousel .swiper-autoheight,
.plant-ground-cone .plant-content__carousel .swiper-wrapper,
.plant-ground-cone .plant-content__carousel .swiper-slide,
.plant-ground-cone .plant-content__carousel .swiper img,
.plant-peat-moss .plant-content__carousel .swiper-container,
.plant-peat-moss .plant-content__carousel .swiper-autoheight,
.plant-peat-moss .plant-content__carousel .swiper-wrapper,
.plant-peat-moss .plant-content__carousel .swiper-slide,
.plant-peat-moss .plant-content__carousel .swiper img {
  height: 100% !important;
}
.plant-reindeer-lichen .plant-content__carousel .swiper img,
.plant-bracket-fungi .plant-content__carousel .swiper img,
.plant-ground-cone .plant-content__carousel .swiper img,
.plant-peat-moss .plant-content__carousel .swiper img {
  -o-object-fit: cover;
     object-fit: cover;
}
.plant-reindeer-lichen .people-and-plants,
.plant-bracket-fungi .people-and-plants,
.plant-ground-cone .people-and-plants,
.plant-peat-moss .people-and-plants {
  max-width: 750px;
}

.tour-path-wrapper .tour-path-content-container {
  position: relative;
  padding: 3rem;
  background-image: url(../img/backgrounds/watercolor-green-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: calc(50% - 1rem);
  gap: 2rem;
}
.tour-path-wrapper .tour-path-content-container .line-drawing-container {
  flex-basis: 150px;
  mix-blend-mode: multiply;
}
.tour-path-wrapper .tour-path-content-container .line-drawing-container img {
  max-width: 100%;
}
.tour-path-wrapper .tour-path-content-container .tour-path-content {
  position: relative;
  flex: 1;
}
.tour-path-wrapper .tour-path-content-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(white, transparent);
  opacity: 0.75;
}
.tour-path-wrapper:nth-of-type(odd) {
  justify-content: flex-end;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  display: none;
  margin: 0;
}

.modal {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: none;
  overflow: auto;
  margin: 0;
}

.modal_container {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  outline: none;
}

.modal_table {
  display: table;
  height: 100%;
  width: 100%;
  outline: none;
}

.modal_table_cell {
  margin: 0px auto;
  max-width: 800px;
  vertical-align: middle;
  display: table-cell;
  padding: 2em;
  outline: none;
}

.modal_inner.visible {
  transition: 0.25s ease-in-out;
  transform: translate(0, 0);
}

.modal_inner {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
  background-color: #fff;
  position: relative;
  transition: 0.25s ease-in-out;
  transform: translate(0, -30px);
}

.modal-content {
  padding: 3em;
}

.post-modal-content-wrapper .is-layout-flex {
  gap: 2rem;
  align-items: flex-start;
}

.post-modal-content {
  position: relative;
  background: #fff;
  max-width: 800px;
  margin: auto;
  padding: 3em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;
}
.post-modal-content img {
  max-width: 100%;
}
.post-modal-content .line-drawing-container {
  flex-basis: 250px;
}
.post-modal-content .post-content {
  flex: 1;
  box-sizing: border-box;
}

.modal-backdrop.show,
.modal.show,
.post-modal-content.show {
  display: block;
}

.closeModalButton {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
  right: 1em;
  top: 1em;
  cursor: pointer;
  z-index: 999;
}
.closeModalButton span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  margin-left: -10px;
}
.closeModalButton span:nth-child(2) {
  transform: rotate(-45deg);
}