.plant-reindeer-lichen {
  .plant-content__left-column {
    display: none;
  }
  .plant-content__right-column {
    flex-basis: 100% !important;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  .plant-content__traditional-names,
  .plant-content__carousel,
  .plant-content__traditional-uses {
    flex-basis: calc(50% - 1rem);
    box-sizing: border-box;
  }
  .plant-content__carousel {
    margin-block: 0 !important;
    .swiper-container,
    .swiper-autoheight,
    .swiper-wrapper,
    .swiper-slide,
    .swiper img {
      height: 100% !important;
    }
    .swiper img {
      object-fit: cover;
    }
  }
}
