.bg--light-gray {
    background-color: var(--wp--preset--color--light-gray);
}

.bg--light-green {
    background-color: var(--wp--preset--color--light-green);
}

.color--white {
    color: var(--wp--preset--color--base);
}

.color--dark-green {
    color: $darkGreen;
}

.color--light-green {
    color: $lightGreen;
}