.features {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: var(--wp--preset--spacing--30);
    @extend %border-radius-10px;
    // background-color: var(--wp--preset--color--light-gray);
    border: 2px solid var(--wp--preset--color--light-green);
    text-align: center;

    .feature__icon {
        width: 50px;
    }

    p {
        margin-block-end: 0;
    }
}