body:not(.home) .partnership-logos {
  padding-bottom: 0 !important;
}

body .is-layout-flex .partnership-logos {

  &:not(.is-not-stacked-on-mobile)>.wp-block-column {
    @media (max-width: 781px) {
      flex-basis: auto !important;
      width: auto;
    }

    @media (max-width: 480px) {
      flex-basis: 100% !important;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    gap: var(--wp--preset--spacing--30);
  }
}

// .aurora-college-logo {
//   @media (max-width: 480px) {
//     top: auto;
//   }
// }

body .copyright-line.copyright-line {
  @media (max-width: 781px) {
    justify-content: flex-start;
  }
}

body .is-layout-flex.footer-elements-container {
  row-gap: 20px;

  @media (max-width: 980px) {
    .copyright-text {
      text-align: left;
    }
  }
}