body:not(.home) .partnership-logos {
    padding-bottom: 0 !important;
}

body .is-layout-flex .partnership-logos {
    @media (max-width: 480px) {
        gap: 20px;
    }
}

.aurora-college-logo {
    @media (max-width: 480px) {
        top: auto;
    }
}