header {
  position: relative;
  z-index: 999;
}

body:not(.home) {
  header {
    position: absolute;
    z-index: 999;
    width: 100%;
    box-shadow: 0 0 15px var(--wp--preset--color--gray);
    @extend %smooth-transition-25;
  }

  header.scroll-down {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    @extend %smooth-transition-25;
  }

  header.fixed {
    position: fixed;
  }

  // main {
  //   margin-top: 97px !important;
  // }
}

.botanical-names {
  h2 {
    margin-bottom: 0;
  }
}

.yoast-breadcrumbs {
  font-size: 14px;
}

body .is-layout-flex.header-elements-container {
  row-gap: 20px;

  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.wp-block-columns:not(.is-not-stacked-on-mobile).logo-and-nav {
  // >.wp-block-column {
  //   flex-basis: unset !important;
  // }

  > .menu-container {
    flex-basis: 90px !important;
  }
}

.wp-block-navigation {
  font-size: inherit;
}

.wp-block-columns.logo-and-nav {
  @media (max-width: 980px) {
    flex-wrap: nowrap !important;
    width: 100%;
    justify-content: space-between;

    .custom-logo-link {
      display: block;
      text-align: center;

      img {
        width: 100%;
        max-width: 550px;
      }
    }

    .switcher-and-nav {
      margin-top: var(--wp--preset--spacing--30);
    }

    > div:last-of-type {
      position: sticky;
      top: 0;

      .wp-block-column {
        justify-content: center;

        > div {
          justify-content: center;
        }
      }
    }
  }
}
