header {
  position: relative;
  z-index: 999;

  &:not(.home) {
    box-shadow: 0 0 15px var(--wp--preset--color--gray);
  }
}

.botanical-names {
  h2 {
    margin-bottom: 0;
  }
}

.wp-block-columns.is-not-stacked-on-mobile.logo-and-nav {
  @media (max-width: 980px) {
    flex-wrap: wrap !important;

    >div {
      flex-basis: 100% !important;
    }

    >div:last-of-type {
      position: sticky;
      top: 0;

      .is-content-justification-right {
        justify-content: center;
        margin-top: 10px;
      }
    }
  }
}