.language-toggle,
.wpml-language-switcher-block ul.horizontal-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  .btn,
  li {
    margin-right: 0;
    border: 2px solid var(--wp--preset--color--dark-green);
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;

    &:first-of-type {
      border-radius: 100px 0 0 100px;
      -webkit-border-radius: 100px 0 0 100px;
      -moz-border-radius: 100px 0 0 100px;
      -ms-border-radius: 100px 0 0 100px;
      -o-border-radius: 100px 0 0 100px;
    }

    &:last-of-type {
      border-left: none;
      border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      -moz-border-radius: 0 100px 100px 0;
      -ms-border-radius: 0 100px 100px 0;
      -o-border-radius: 0 100px 100px 0;
    }

    &[data-wpml="current-language-item"] {
      span {
        padding: 8px 12px;
        display: block;
        background-color: var(--wp--preset--color--dark-green);
        color: #fff;
      }
    }

    a {
      padding: 8px 12px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px;
      font-weight: 600;
      white-space: nowrap;
      @extend %smooth-transition-25;

      &:hover {
        @extend %smooth-transition-25;
        background-color: var(--wp--preset--color--base);
      }
    }
  }
}

body [data-wpml='language-item']:first-of-type {
  margin-top: 0px !important;
}

body .wpml-language-switcher-block ul.horizontal-list {
  gap: 0px !important;
}

body .wpml-language-switcher-block ul.hasSpacing.isHorizontal li:not(:last-child) {
  margin-right: 0px !important;
}

.horizontal-list {
  justify-content: flex-end;
}