.language-toggle {
  display: flex;
  justify-content: flex-end;

  .btn {
    background-color: transparent;
    border: 2px solid var(--wp--preset--color--dark-green);
    padding: 8px 12px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;

    &:first-of-type {
      border-radius: 100px 0 0 100px;
      -webkit-border-radius: 100px 0 0 100px;
      -moz-border-radius: 100px 0 0 100px;
      -ms-border-radius: 100px 0 0 100px;
      -o-border-radius: 100px 0 0 100px;
    }

    &:last-of-type {
      border-left: none;
      border-radius: 0 100px 100px 0;
      -webkit-border-radius: 0 100px 100px 0;
      -moz-border-radius: 0 100px 100px 0;
      -ms-border-radius: 0 100px 100px 0;
      -o-border-radius: 0 100px 100px 0;
    }
  }
}

body [data-wpml='language-item']:first-of-type {
  margin-top: 0px !important;
}