.language-toggle {
    display: flex;
    justify-content: flex-end;

    .btn {
        background-color: transparent;
        border: 2px solid var(--wp--preset--color--dark-green);
        padding: 10px 15px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;

        &:last-of-type {
            border-left: none;
            margin-right: 30px;
        }
    }
}