// OVERLAY
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.85);
  z-index: 999;
  display: none;
  margin: 0;
}

.modal {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: none;
  overflow: auto;
  margin: 0;
  padding: 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.modal_container {
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  overflow: auto;
  outline: none;
}

.modal_table {
  display: table;
  height: 100%;
  width: 100%;
  outline: none;
}

.modal_table_cell {
  margin: 0px auto;
  max-width: 980px;
  vertical-align: middle;
  display: table-cell;
  outline: none;
}

.modal_inner.visible {
  transition: 0.25s ease-in-out;
  transform: translate(0, 0);
}

.modal_inner {
  width: inherit;
  max-width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
  //padding: 3em;
  background-color: #fff;
  position: relative;
  transition: 0.25s ease-in-out;
  transform: translate(0, -30px);
}

.modal-content {
  padding: 3em;
}

.post-modal-content-wrapper {
  .is-layout-flex {
    gap: 2rem;
    align-items: flex-start;
  }
}

.post-modal-content {
  position: relative;
  background: #fff;
  max-width: 980px;
  margin: auto;
  padding: 3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: none;

  @media (max-width: 780px) {
    padding: 2rem;
  }

  img {
    max-width: 100%;
  }
  .line-drawing-container {
    flex-basis: 250px;
  }
  .post-content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.modal-backdrop.show,
.modal.show,
.post-modal-content.show {
  display: block;
}

.closeModalButton {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  outline: none;
  right: 1em;
  top: 1em;
  cursor: pointer;
  z-index: 999;
  span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    top: 50%;
    left: 50%;
    margin-left: -10px;
  }
  span:nth-child(2) {
    transform: rotate(-45deg);
  }
}

.tour-path-content {
  .post-modal-link {
    padding: 10px 15px;
    background-color: $darkGreen;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    &::before {
      font-family: fontAwesome;
      content: "\f0ca";
      font-size: 18px;
      margin-right: 10px;
    }
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}
