.wp-block-post-template {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25em;
  flex-wrap: wrap;

  &.wp-block-other-term-posts {

    // flex-wrap: nowrap;
    // overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    >li {
      flex-grow: inherit;
      // min-width: 300px;
    }
  }

  @media (min-width: 981px) {
    &.wp-block-other-habitats {
      row-gap: 0;
    }
  }

  &.is-flex-container.columns-3 {
    >li {
      width: calc(33.33333% - 0.83333em);
    }
  }

  &.is-flex-container.columns-2 {
    >li {
      width: calc(50% - 0.83333em);
    }
  }

  &.is-flex-container.is-flex-container.columns-3,
  &.is-flex-container.is-flex-container.columns-2 {
    >li {
      @media (max-width:980px) {
        width: calc(50% - .83333em);
      }

      @media (max-width:600px) {
        width: 100%;
      }
    }
  }

  .wp-block-post {
    @extend %border-radius-10px;
    position: relative;
    @extend %smooth-transition-25;

    &:hover {
      box-shadow: 0 10px 30px var(--wp--preset--color--gray);
      @extend %smooth-transition-25;

      img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        @extend %smooth-transition-25;
      }
    }

    .wp-block-post-featured-image {
      overflow: hidden;
      margin-bottom: 0;

      &:focus,
      &:focus-visible,
      &:focus-within {
        outline: 5px solid orange;
      }

      a {
        position: relative;
        display: block;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, .5);
          z-index: 1;
        }

        img {
          @extend %smooth-transition-25;
          max-width: 100%;
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 20px;
    pointer-events: none;
    line-height: 1;
    text-align: center;
    z-index: 2;
    word-break: inherit;
    width: calc(100% - 2em);
    font-weight: 700;
  }
}

.wp-block-post-template-container {
  .wp-block-post {
    flex-grow: 1;
  }
}