.anchor-link__button {
  @extend %smooth-transition-25;
  position: sticky;
  top: 3em;
  margin-block-start: 3em;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.scroll-up ~ main {
  .anchor-link__button {
    top: 8em;
  }
}
