.home .partnership-logos {
  position: absolute;
  bottom: 2em;
  left: var(--wp--preset--spacing--30);
  // width: calc(100% - var(--wp--preset--spacing--30));
}

.aurora-college-logo {
  top: 5px;
  position: relative;
}