.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @extend %border-radius-10px;

  img {
    max-width: 100%;
    width: 100%;
    @extend %border-radius-10px;
  }

  .swiper-slide {
    width: 100% !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }

  ~.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -25px;
  }

  ~.swiper-pagination {
    .swiper-pagination-bullet-active {
      background: var(--wp--preset--color--dark-green);
    }
  }
}