.tour-path-wrapper {
  @media (max-width: 980px) {
    margin-block-end: 3rem;
    &:nth-of-type(even) {
      .tour-path-content-container {
        flex-flow: row-reverse;
      }
    }
  }
  .tour-path-content-container {
    position: relative;
    background-image: url(../img/backgrounds/watercolor-green-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
      position: absolute;
      background-image: url(../img/backgrounds/footprints.png);
      top: 50%;
      right: 50%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      content: "";
      z-index: 0;
    }
    @media (min-width: 981px) {
      flex-basis: calc(50% - 1rem);
      padding: 3rem;
    }
    @media (max-width: 980px) {
      margin-block-end: 3rem;
    }
    gap: 2rem;
    .line-drawing-container {
      flex-basis: 25%;
      mix-blend-mode: multiply;
      img {
        max-width: 100%;
      }
    }
    .tour-path-content {
      position: relative;
      flex: 1;

      .post-modal-buttons {
        gap: 1rem;
      }

      .button {
        padding: 6px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        border-width: 2px;
        border-style: solid;
        border-color: $darkGreen;

        &.post-modal-link {
          background-color: $darkGreen;
          color: #fff;
        }

        &.post-modal-link::before {
          font-family: fontAwesome;
          content: "\f0ca";
          font-size: 15px;
          margin-right: 10px;
        }
        &.virtual-tour-link {
          color: $darkGreen;
        }
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(white, transparent);
      opacity: 0.75;
    }
  }
  &:nth-of-type(odd) {
    @media (min-width: 981px) {
      justify-content: flex-end;
    }
  }
}
