.tour-path-content-container {
  padding: 3rem;
  background-image: url(../img/backgrounds/watercolor-green-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: calc(50% - 1rem);
  gap: 2rem;
  .line-drawing-container {
    flex-basis: 150px;
    mix-blend-mode: multiply;
    img {
      max-width: 100%;
    }
  }
  .tour-path-content {
    flex: 1;
  }
}
