h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--montserrat);
}

.wp-block-post-title {
  padding: 15px 0;
  border: 1px solid var(--wp--preset--color--light-gray);
  border-right: none;
  border-left: none;
}