h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--montserrat);
  line-height: 1.4;
  letter-spacing: normal;
}

.page-title {
  padding: 10px 0;
  border-top: 1px solid var(--wp--preset--color--light-green);
  border-bottom: 1px solid var(--wp--preset--color--light-green);
}

h3 {
  font-size: var(--wp--preset--font--size--medium);
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--wp--preset--color--dark-green);
}

p {
  margin-block-start: 0;
}

.display-block {
  display: block;
}

ul:not(.wp-block-post-template, .is-flex-container, .horizontal-list, .features, .wp-block-navigation__container) {
  padding-left: 10px;

  li {
    padding-left: 10px;

    &::marker {
      display: none;
    }

    &::before {
      font: var(--fa-font-solid);
      content: '\f0da';
      color: var(--wp--preset--color--light-green);
      display: inline-block;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.underlined-heading {
  color: var(--wp--preset--color--dark-green);
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--wp--preset--color--gray);
  display: block;
}

.font-size-22 {
  font-size: 22px;
}

.font-weight-normal {
  font-weight: normal;
}