h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--montserrat);
  line-height: 1.4;
  letter-spacing: normal;
}

.page-title {
  padding: 10px 0;
  border-top: 1px solid var(--wp--preset--color--light-green);
  border-bottom: 1px solid var(--wp--preset--color--light-green);
}

h3 {
  font-size: var(--wp--preset--font--size--medium);
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--wp--preset--color--dark-green);
}

p {
  margin-block-start: 0;
}