%border-radius-10px {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

%border-radius-circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

%smooth-transition-25 {
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body {
  --wp--preset--color--pale-gold: palegoldenrod;
  --wp--preset--color--light-grey: #e5e5e5;
}

// COLOURS
$darkGreen: var(--wp--preset--color--dark-green);
$lightGreen: var(--wp--preset--color--light-green);
$lightGrey: var(--wp--preset--color--light-grey);
